{% block card %}

<div class="card col-sm-8">
      <img class="img-responsive img-rounded"  src={{image_dir}} alt="card image cap">
      <div class="card-block">
       <ul class="list-group list-group-flush ">
        <h4 class="card-title list-group-item" > {{title}} </h4>
       
            {% for song in range(playlist[current]|length) %}
              <li class="list-group-item" style="text-align: left;"><a href="javascript:void(0);" onclick="playSong( '{{key}}/'+'{{ playlist[current][song] }}' )"> {{song+1}}) {{ playlist[current][song] }}</a></li>
            {% endfor %}
        </ul>
      </div>
      {% include 'play.html' %}
</div>

<script type="text/javascript">
    function playSong(song){
        $('audio').attr('src', '/static/music/'+song);
    }

</script>

{% endblock %}