{% extends 'base.html' %}



{% block main %}
<div class="container text-center">
    {% include 'card.html' %}
</div>


<nav class="navbar navbar-fixed-bottom navbar-inverse bg-primary">
    <div class="container text-center">
        <ul class="nav nav-pills" style="display: inline-block;">
            <li role="presentation" class="active">
                <a href="/">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    Refresh
                </a>
            </li>
            <li role="presentation">
                <a href="/list">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    List
                </a>
            </li>
            <li role="presentation">
                <a href="/settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Settings
                </a>
            </li>

        </ul>
    </div>
</nav>

{% endblock %}

