{% extends 'base.html' %}


{% block main %}
{% for song in range(music_files_number) %}
<p><a href="javascript:void(0);" onclick="playSong( '{{music_files[song] }}' )"> {{song+1}} {{ music_files[song] }}</a>
</p>
{% endfor %}

<div class="container">
    <!--audio controls autoplay></audio-->
    {% include 'play.html' %}
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse bg-primary">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation">
                <a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home
                </a>
            </li>
            <li role="presentation">
                <a href="/settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Settings
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="/list">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    List
                </a>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">
    function playSong(song){
        $('audio').attr('src', '/static/music/'+song);
    }

</script>
{% endblock %}