{% extends 'base.html' %}



{% block main %}
{% for song in range(music_files_number) %}
    <p> <a href="javascript:void(0);" onclick="playSong( '{{music_files[song] }}' )"> {{song+1}} {{ music_files[song] }}</a> </p>
{% endfor %}

<div class="container">
     <audio controls autoplay>

     </audio>
</div>

 <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/settings">Settings</a></li>
                <li class="active"><a href="/list">List</a></li>
            </ul>
        </div>
 </nav>

<script type="text/javascript">
    function playSong(song){
        $('audio').attr('src', '/static/music/'+song);
    }
</script>
{% endblock %}