{% extends 'base.html' %}


{% block main %}

<ul class="list-group list-group-flush "> 
<li class="list-group-item" style="text-align: left;">
<label for="Volume">Volume</label>

<div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
</li>

<li class="list-group-item" style="text-align: left;">
  <label for="Temperature Unit">Temperature Unit</label>

  <div align="left"><br>
    <input type="radio" name="group1" value="Celcius" checked> Celcius<br>
    <input type="radio" name="group1" value="fahrenheit"> fahrenheit
  </div>
</li>

<li class="list-group-item" style="text-align: left;">
  <img src="http://www.carlsednaoui.com/images/posts/spotify-1.png"  style="width:30px;">
  <button class="btn pull-right"><a href="/login">Login to Spotify</a>
</li>


<!--<ion-list>
  <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
  <ion-radio ng-model="choice2" ng-value="'B'">Choose B</ion-radio>
</ion-list>-->



<nav class="navbar navbar-fixed-bottom">
    <div class="container text-center">
        <ul class="nav nav-pills" style="display: inline-block;">
            <li role="presentation">
                <a href="/">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                    Play
                </a>
            </li>
            <li role="presentation">
                <a href="/settings" class="active">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Settings
                </a>
            </li>
            <li role="presentation">
                <a href="/list">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    Favorites
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
